.fish__image {
    width: 8rem;
    height: 8rem;
}

.fishList {
    display: flex;
    flex-basis: 65%;
    flex-wrap: wrap;
    
    /* background-color: teal; */
    
    /* opacity: 0.3; */
    /* justify-content: space-between */
   
}

.fish {
    color: white;
    background-color: rgba(9, 9, 196, 0.5);
    /* border: dotted white; */
    margin: 0px 70px 70px 70px;
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.fish__image {
    filter:drop-shadow(7px 7px 7px #000000)
}

.fish__name {
    margin: 15px 0px 15px 0px;
    color: rgb(229, 250, 3);
    font-size: 2em;
}

button {
    filter:drop-shadow(7px 7px 7px #000000);
}

.dialog--fish {
    text-align: left;
}